<?xml version="1.0" encoding="UTF-8"?>

<metadata>
  <groupId>org.mesagisto</groupId>
  <artifactId>mirai-message-source</artifactId>
  <versioning>
    <release>latest</release>
    <versions>
      <version>latest</version>
    </versions>
    <lastUpdated>{{ env['TIME'] }}</lastUpdated>
  </versioning>
</metadata>
